{% if model is defined %}
<div class="tag venue-tag-container">
    <div class="tag-place-icon tag-icon"></div>
        <div class="popover">
            <div class="tag-popover-arrow"></div>
            <div class="popover-inner">
                <span class="title">{% if model.link %}<a href="{{ model.link }}" target="_blank">{{ model.title }}</a>{% else %}{{ model.title }}{% endif %}</span>
                {% if model.description is defined and model.description %}
                <p>{{ model.description }}</p>
                {% endif %}
            </div>
            <div id="map{{ model.id }}"></div>
        <div class="popover-details"></div>
    </div>
</div>
{% endif %}